##########################################################################
#
#  This is the local.properties.sample file.
#  use this as a template to configure Your local installation
#  of OpenRide 
#
##########################################################################  
#
#
#
#
# directory with jee libs to be used during the build
# do not change unless You really know what You are doing
#
jee.lib.basedir=build.headless.support/jee/libs.glassfish.3.0.2/
#
#
#
# the base path for the imprint jsp -- change this for your own imprint 
# to create a branded version of OpenRide
#
imprint.jsp.base=build.headless.support/branding/imprint/imprint.jsp
#
#
#
# the base path for the terms jsp -- change this for your own terms 
# to create a branded version of OpenRide
#
#
terms.jsp.base=build.headless.support/branding/terms/terms.jsp
#
# the base path for the contac jsp -- change this for your own terms 
# to create a branded version of OpenRide
#
#
contact.jsp.base=build.headless.support/branding/contact/contact.jsp
#
#
#
#
# uncomment this to build "joride" frontend 
build.joride=on
#
# uncomment this to build "joride-public" frontend 
build.joride-public=on
#
# uncomment this to build "joride2" frontend which aims at adding
# "waypoints" to routing 
# joride2 is considered to be still unstable,  
# 
# please note, that due to a bug in glassfish 3.1.2 
# joride and joride2 frontend cannot be deployed at the same time on glassfish-3.1.2 
# if both modules are deployed simultanously, this is likely to throw an
# javax.naming.NameNotFoundException: CDIExtension not found.
#  
# see  this link for explanation and workaround:
# http://www.imixs.org/roller/ralphsjavablog/entry/glassfish_3_1_x_cdiextension
#
# also, see this link for the bug in glassfish 3.1.xxx:
# https://java.net/jira/browse/JERSEY-601
#
#build.joride2=on
#
#
mailServiceJNDI=jorideMail
#
# 
# email of the person/entity that gets messages 
# concerning operational issues
# (mailfunction) 
#
webmasterEmailRecipient=jochen@localhost
#
#  email of the person/entity that gets messages
#  concerning business issues  (complaints etc...)
#  also recipient for webfrontend
#
#
businessEmailRecipient=jochen@localhost
#
#
# noreply email that is used as sender/replyTo address
# for messages that are not supposed to be replied
#
noreplyEmailRecipient=noreply@localhost
#
#
# URL where terms and conditions are to be found
# default setting points to a warning message.
#
termsURL=joride-public/faces/uninitialized.xhtml
#
# URL where imprint is to be found
# default setting points to a warning message.
#
imprintURL=/joride-public/faces/uninitialized.xhtml
#
#
# base URL for "relogin" section (without base url, since base-url is joride-public)
# this is where users are sent after logging out
#
#
urlLoggedOut=http://localhost:8080/joride-public/faces/public/loggedout.xhtml
#
# url where the openlayers library should be included.
# by default, the standard URL for Openlayers:
# http://www.openlayers.org/api/OpenLayers.js"
#
# If You are not a developer trying out other versions of OL, there 
# should probably be no reason to change this value
#
urlOpenLayers=http://www.openlayers.org/api/OpenLayers.js








