//
// this is a sample for local.style.css
// 
// rename local.styles.css.sample  to local.style.css
// and edit it.
// if a local.style.css file is present, it will 
// overwrite the predefined styles.css file  during build
//
//

body{
    color:#FF0000;
    background-color:#F0F0F0;
    font-family:sans-serif;
    max-width:400px;
    font-size:0.75em;
}


a {
    text-decoration:underline;
    font-weight: bold;
}

a:hover {
    text-decoration:none; 
}


#header{
    vertical-align:middle;
    text-align:left;
}


#updateAlert{
    font-size:1.0em;
}



#content{

    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    padding-left:15px;

    background-color:#FFFFFF;
}


#footer{
    font-size:0.66em; 

    margin-top:15px;
    margin-bottom:15px;
}


form{
    padding:0px;
    margin:0px;
}

.formLabel{
    font-style: normal;
    font-weight: bold;

    margin-top: 5px;
    margin-bottom: 5px;

}

.formInput{

}



#navbar1{
    font-size:0.66em;
    margin:0px;
    padding:0px;
}




#navbar2{
    font-size:0.66em;
    margin:0px;
    padding:0px;
}



/* Results from Geosearch come inside 
 * divs of class geosearch_result'.
 * have a big margin to help distinguish
 * each individual item 
 *
*/
.geosearch_result {
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:30px;
}




/** JSF Tables
*/
.table {
    margin-top:15px;
    margin-bottom:15px;
}

td {
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
}



/* back| cancel | next | finish link at the bottom of a page
*/
.webflow{
    font-size:0.75em;
    margin-top:50px;
    padding:0px;
}

